.menu-blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: uppercase;
    .conteudo-menu{
      display: flex;
      column-gap: 20px;
    }
    .links{
           display: flex;
        column-gap: 10px;
    align-items: center;
        a{
          color: #D65E23;
            text-decoration: none;
            font-weight: 500;
            font-size: 20px;
            font-family: Poppins;
        }
        .fa-star {
            font-size: 14px;
        }
    }
    .redes{
        display: flex;
        column-gap: 20px;
        font-size: 24px;
        color: #D65E23;
    }
  }
  .blog {
    background: #FAEDD6;
}

.conteudo-blog {
  .grid {
    .blog-posts{
      .container{
        display: flex;
    }
    }
  }
}
.container {
  article {
    width: 33%;
        margin-bottom: 100px;
    }
}
.wp-post-image {
    border-radius: 0 30px;
    width: 100%;
        height: auto;
}
.titulo-post{
    h2 {
    font-size: 24px;
     margin: 15px 0;
    font-weight: bold;
     font-family: "Be Vietnam Pro", sans-serif; 
}
}
.resumo {
    p {
    font-size: 14px;
}
}
.leiamais {
     margin-top: 30px;
    a {
    padding: 15px 60px;
    background:#C14B27;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid #EEAD42;
}
}
.wp-post-image {
  width: 400px;
height: 300px;
object-fit: cover;
}
.fa-brands {
  color: #E44F89
}