.menu-blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: uppercase;
    .conteudo-menu{
      display: flex;
      column-gap: 20px;
    }
    .links{
           display: flex;
        column-gap: 10px;
    align-items: center;
        a{
          color: #ECDCC0;
            text-decoration: none;
            font-weight: 500;
            font-size: 20px;
            font-family: Poppins;
        }
        .fa-star {
            font-size: 14px;
        }
    }
    .redes{
        display: flex;
        column-gap: 20px;
        font-size: 24px;
        color: #ECDCC0;
    }
  }
  