.single {
    background: #FAEDD6;
    .p-single__title {
    font-size: 44px;
    font-weight: bold;
     font-family: "Be Vietnam Pro", sans-serif; 
    margin-bottom: 30px;
}
.post-thumbnail {
    margin-bottom: 30px;
    
}
.wp-post-image {
    width: 100%;
    align-content: top;
    object-fit: cover;
   object-position:top;
    
}
}


.p-single .grid {
    padding-bottom: 100px;
}