html{
  font-family: 'Poppins';
  margin-top: 0px!important;
  background-color: #FEF0E6;
}
header{
  background-color: #FEF0E6;
  padding-bottom: 150px;
}
.grid {
  max-width: 1260px;
  width: 100%;
  padding: 11px;
  margin: 0 auto;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: uppercase;
  .conteudo-menu{
    display: flex;
    column-gap: 20px;
  }
  .links{
         display: flex;
      column-gap: 10px;
  align-items: center;
      a{
        color: #ECDCC0;
          text-decoration: none;
          font-weight: 500;
          font-size: 20px;
          font-family: Poppins;
      }
      .fa-star {
          font-size: 14px;
      }
  }
  .redes{
      display: flex;
      column-gap: 20px;
      font-size: 24px;
      color: #ECDCC0;
  }
}

.banner{
  margin-top: 150px;
  h1 {
  font-size: 65px;
  font-family: "Fascinate", system-ui;
  font-weight: bold;
  text-align: center;
  text-align: left;
  width: 50%;
  margin-bottom: 15px;
  color: #EEAD42;
}
h2 {
  font-size: 32px;
 font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ECDCC0;
  text-align: left;
  font-weight: 600;
  margin-top: 30px;
}
}

.fa-brands{
  color: #ECDCC0;
}


.menu-responsivo {
  display: flex;
  align-items: center;
}

.hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.barra {
  width: 100%;
  height: 3px;
  background-color: #000;
}

.itens-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .itens-menu {
      display: flex;
      flex-direction: column;
  }

  .itens-menu a {
      padding: 10px;
      text-align: center;
  }
}
