html{
  font-family: 'Poppins';
}

.grid {
  max-width: 1260px;
  width: 100%;
  padding: 11px;
  margin: 0 auto;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .conteudo-menu{
    display: flex;
    column-gap: 20px;
  }
  .links{
         display: flex;
      column-gap: 10px;
  align-items: center;
      a{
          text-decoration: none;
      }
      .fa-star {
          font-size: 14px;
      }
  }
  .redes{
      display: flex;
      column-gap: 20px;
      font-size: 24px;
  }
}




