html{
  font-family: 'Poppins';
  margin-top: 0px!important;
  background-color: #FEF0E6;
}
header{
  background-color: #FEF0E6;
  padding-bottom: 150px;
}
.grid {
  max-width: 1260px;
  width: 100%;
  padding: 11px;
  margin: 0 auto;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: uppercase;
  .conteudo-menu{
    display: flex;
    column-gap: 20px;
  }
  .links{
         display: flex;
      column-gap: 10px;
  align-items: center;
      a{
        color: #ECDCC0;
          text-decoration: none;
          font-weight: 500;
          font-size: 20px;
          font-family: Poppins;
      }
      .fa-star {
          font-size: 14px;
      }
  }
  .redes{
      display: flex;
      column-gap: 20px;
      font-size: 24px;
      color: #ECDCC0;
  }
}

.banner{
  margin-top: 150px;
  h1 {
  font-size: 65px;
  font-family: "Fascinate", system-ui;
  font-weight: bold;
  text-align: center;
  text-align: left;
  width: 50%;
  margin-bottom: 15px;
  color: #EEAD42;
}
h2 {
  font-size: 32px;
 font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ECDCC0;
  text-align: left;
  font-weight: 600;
  margin-top: 30px;
}
}

.fa-brands{
  color: #ECDCC0;
}


.menu-responsivo {
  display: none;
}

.hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.barra {
  width: 100%;
  height: 3px;
  background-color: #000;
}

.itens-menu {
  display: flex;
  flex-direction: column;
}

.itens-menu a {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .menu-responsivo {
      display: flex;
      align-items: center;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .itens-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }

  .itens-menu a {
      padding: 10px;
  }

  .hamburguer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 25px;
      cursor: pointer;
  }
}

@media(max-width:991px){
  .menu {
    .conteudo-menu{
      display: none;
    }
  }
}
@media(max-width:991px){
  .menu-blog {
    .conteudo-menu{
      display: none;
    }
  }
}
.menu{
  position: relative;
  
.menu-responsivo {
  .hamburguer {
  .barra{
  background-color: #fff;
  
}
}
  .itens-menu{
      position: absolute;
      background: #C55026;
      max-width: 150px;
      border-radius: 10px;
      border: 2px solid #fff;
      width: 100%;
      top: 60px;
      right: 0px;
      a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  }
  }
  .redes{
      justify-content: center;
      
  }
}
}
.menu-blog{
  position: relative;
  
.menu-responsivo {
  .hamburguer {
  .barra{
  background-color: #fff;
  
}
}
  .itens-menu{
      position: absolute;
      background: #C55026;
      max-width: 150px;
      border-radius: 10px;
      border: 2px solid #fff;
      width: 100%;
      top: 60px;
      right: 0px;
      a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  }
  }
  .redes{
      justify-content: center;
      
  }
}
}

html{
  margin-top: 0px!important;
}